@charset "utf-8";img{max-width:100%}
.navBreadCrumb{font-size:16px;}
.navBreadCrumb a{font-size:16px;}
.read-more{font-size:16px;margin-top:13px;text-transform:capitalize;padding-right:20px;float:left}
.address, .phone, .mail, .skype{background:url(../image/footer_icon.png) no-repeat scroll 0 0 transparent;padding-left:35px;margin-bottom:10px}
.address{background-position:0 -172px!important}
.mail{background-position:0 -224px!important}
.phone{background-position:0 -274px!important}
.skype{background-position:0 -314px!important}
#mj-footer .address{background-position:0 5px!important}
#mj-footer .mail{background-position:0 -33px!important}
#mj-footer .phone{background-position:0 -72px!important}
#mj-footer .skype{background-position:0 -108px!important}
.small{font-size:12px}
h1, h2, h3, h4, h5, h6{font-weight:normal;margin-bottom:10px;line-height:25px}
h1{font-size:30px}
h2{font-size:25px}
h3{font-size:16px}
h4{font-size:14px}
h5{font-size:13px}
h6{font-size:12px}
.mj-bullet1 li, .mj-bullet2 li, .mj-bullet3 li, .mj-bullet4 li, .mj-bullet5 li, .mj-bullet6 li, .mj-bullet7 li, .mj-bullet8 li, .mj-bullet9 li{line-height:16px;margin:3px 2px;padding:2px 0 2px 22px!important;background:url(../image/bullets.png) no-repeat scroll 0 0 transparent}
.mj-bullet1 li{background-position:0 5px}
.mj-bullet2 li{background-position:0 -65px}
.mj-bullet3 li{background-position:0 -164px}
.mj-bullet4 li{background-position:0 -264px}
.mj-bullet5 li{background-position:0 -365px}
.mj-bullet6 li{background-position:0 -465px}
.mj-bullet7 li{background-position:0 -566px}
.mj-bullet8 li{background-position:0 -663px}
.mj-bullet9 li{background-position:0 -767px}
.mj-bullet10 li{line-height:16px;list-style:square inside none;margin:3px 2px;padding:2px 0 2px 3px}
.mj-special1 li, .mj-special2 li, .mj-special3 li, .mj-special4 li, .mj-special5 li, .mj-special6 li, .mj-special7 li, .mj-special8 li, .mj-special9 li, .mj-special10 li, .mj-special11 li, .mj-special12 li{line-height:18px;margin:3px 2px;padding:2px 0 5px 5px;background:url(../images/menu_icons.html) no-repeat scroll 0 0 transparent}
.mj-special1 li span, .mj-special2 li span, .mj-special3 li span, .mj-special4 li span, .mj-special5 li span, .mj-special6 li span, .mj-special7 li span, .mj-special8 li span, .mj-special9 li span, .mj-special10 li span, .mj-special11 li span, .mj-special12 li span{font-family:'PT Sans',sans-serif;margin-left:5px;}
.mj-special2 li{background-position:0 -68px}
.mj-special3 li{background-position:0 -168px}
.mj-special4 li{background-position:0 -267px}
.mj-special5 li{background-position:0 -369px}
.mj-special6 li{background-position:0 -467px}
.mj-special7 li{background-position:0 -565px}
.mj-special8 li{background-position:0 -666px}
.mj-special9 li{background-position:0 -766px}
.mj-special10 li{background-position:0 -867px}
.mj-special11 li{background-position:0 -969px}
.mj-special12 li{background-position:0 -1067px}
ol{counter-reset:li}
ol>li:before{background:none repeat scroll 0 0 #fff;box-shadow:0 0 1px #ccc;content:counter(li, decimal);counter-increment:li;line-height:40px;margin-right:10px;padding:5px 10px;border-radius:3px 3px 3px 3px;box-shadow:1px 1px 1px rgba(0,0,0,0.2)}
input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea, select{border:1px solid #fff;box-shadow:0 0 3px #c0c0c0 inset;color:#666;line-height:20px;margin:1px 0 3px;min-height:20px;padding:4px 5px 3px;border:1px solid #d2d2d2}
textarea{overflow:auto}
.button, input[type="submit"], input[type="reset"], input[type="button"], .readmore, button{border-radius:3px 3px 3px 3px;color:#fff;cursor:pointer;display:inline-block;font-family:oswald;font-size:16px;line-height:19px;margin:3px 0;padding:5px 12px;text-decoration:none;text-shadow:0 1px rgba(0,0,0,0.5);width:auto!important;box-shadow:0 1px 1px rgba(255,255,255,0.5) inset}
.button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, .readmore:hover, button:hover, .billto-shipto .details:hover, .profile a:hover{opacity:.8}
.mj-simplebutton{background-color:#efefef;background-image:url(../images/buttons.html);background-repeat:repeat-x;border-color:#c0c0c0 #888 #888 #c0c0c0;color:#666;text-shadow:0 1px rgba(255,255,255,0.5);border-style:solid;border-width:1px;padding:5px 12px;display:inline-block;margin-top:3px;margin-bottom:3px}
.mj-simplebutton:hover{background-position:0 -15px}
.mj-whitebutton{background-color:#fff;border:1px solid #ccc;border-radius:5px 5px 5px 5px;box-shadow:1px 1px 1px rgba(204,204,204,0.3);color:#444;display:inline-block;margin-bottom:3px;margin-top:3px;padding:5px 12px}
.mj-whitebutton:hover{background:-moz-linear-gradient(#fff, #eee) repeat scroll 0 0 transparent;background:-webkit-linear-gradient(#fff, #eee) repeat scroll 0 0 transparent;background:-o-linear-gradient(#fff, #eee) repeat scroll 0 0 transparent;background:-ms-linear-gradient(#fff, #eee) repeat scroll 0 0 transparent}
.mj-dotted h1, .mj-dotted h2, .mj-dotted h3, .mj-dotted h4, .mj-dotted h5, .mj-dotted h6, h1.mj-dotted, h2.mj-dotted, h3.mj-dotted, h4.mj-dotted, h5.mj-dotted, h6.mj-dotted{background:url(../image/border.png) repeat-x scroll 0 100% transparent!important;padding-bottom:10px}
.mj-strip h1, .mj-strip h2, .mj-strip h3, .mj-strip h4, .mj-strip h5, .mj-strip h6, h1.mj-strip, h2.mj-strip, h3.mj-strip, h4.mj-strip, h5.mj-strip, h6.mj-strip{background:url(../images/strip.html) repeat-x scroll 0 100% transparent;padding-bottom:10px}
.mj-whitebox, .mj-darkbox, .mj-colorbox{border-radius:5px 5px 5px 5px;margin-bottom:5px;margin-left:2px;margin-right:2px;overflow:hidden;padding:10px 5px}
.mj-whitebox img, .mj-darkbox img, .mj-colorbox img{box-shadow:0 0 5px rgba(0,0,0,0.5);margin:15px 0 15px -5px;max-width:103%;overflow:hidden}
.mj-whitebox{background:none repeat scroll 0 0 #fff;border:1px solid #e4e4e4;color:#202020}
.mj-darkbox{background:none repeat scroll 0 0 #404040;border:1px solid #202020;box-shadow:0 0 1px #c0c0c0 inset;color:#f0f0f0}
.mj-darkbox h3{color:#f0f0f0!important}
.mj-colorbox{color:#fff}
.mj-colorbox h3{color:#fff!important}
.mj-whitebox .mj-whitebox, .mj-darkbox .mj-darkbox, .mj-colorbox .mj-colorbox{border:medium none;box-shadow:none;margin:0;padding:0}
.mj-download h3, .mj-twitter h3, .mj-mail h3, .mj-bubble h3, .mj-login h3, .mj-cart h3{background:url(../images/module_icons.html) no-repeat scroll 0 0 transparent;padding-left:35px;padding-bottom:5px;line-height:26px}
.mj-download h3{background-position:0 0}
.mj-twitter h3{background-position:0 -31px}
.mj-mail h3{background-position:0 -60px}
.mj-bubble h3{background-position:0 -88px}
.mj-login h3{background-position:0 -120px}
.mj-cart h3{background-position:0 -152px}
table.mj-table{border-collapse:collapse;border-spacing:0;border:1px solid #c1c1c1;width:100%}
table.mj-table td, table.mj-table th{text-shadow:0 1px 0 rgba(255,255,255,0.75);border:0}
table.mj-table th{font-size:14px;border-bottom:1px solid #c1c1c1;padding:10px 5px}
table.mj-table td{font-size:13px;border-bottom:1px solid #c1c1c1;padding:5px}
.mj-table tr:nth-child(2n){background-color:#fafafa}
.mj-table tr:nth-child(2n+1){background-color:#efefef}
.mj-boxcontent, .mj-boxnote, .mj-boxinfo, .mj-boxwarning, .mj-boxhint, .mj-boxdownload{padding:10px;margin:10px;text-align:justify}
.mj-boxinfo, .mj-boxwarning, .mj-boxhint, .mj-boxdownload{box-shadow:0 -1px 2px #fff inset;padding-left:40px;border:1px solid #ddd;border-radius:5px 5px 5px 5px}
.mj-boxcontent{background:none repeat scroll 0 0 #fafafa;border:1px solid #ddd;border-radius:5px 5px 5px 5px;box-shadow:1px 1px 1px rgba(0,0,0,0.1)}
.mj-boxnote{background:none repeat scroll 0 0 #fafafa;border-bottom:1px solid #ddd;border-top:1px solid #ddd}
.mj-boxinfo{background:url(../images/box_hint.html) no-repeat scroll 10px center #ced9e5;border-color:#a9c3db;color:#384656;text-shadow:0 1px #f5f8f9}
.mj-boxwarning{background:url(../images/box_warning.html) no-repeat scroll 10px center #f2b3b3;border-color:#ec9494;color:#632828;text-shadow:0 1px #efd5d5}
.mj-boxhint{background:url(../images/box_download.html) no-repeat scroll 10px center #fee9c5;border-color:#ffca77;color:#7a4b04;text-shadow:0 1px #fefcea}
.mj-boxdownload{background:url(../images/box_info.html) no-repeat scroll 10px center #eaf2d2;border-color:#b4d264;color:#393f34;text-shadow:0 1px #fff}
ul.menu li{position:relative}
ul.menu li ul, ul.menu li li ul, ul.menu li li li ul{display:none;position:absolute;width:190px;background-color:#e9eff6;z-index:999999}
ul.menu li ul{left:0;top:30px}
ul.menu li:hover ul{display:block}
ul.menu li li{float:none!important;border-top:1px solid #848689;border-bottom:0 none!important;padding:8px 10px 8px 0!important}
ul.menu li li a{color:#404040!important;font-size:14px!important;display:block;border-right:medium none!important}
ul.menu li li ul{left:190px;top:0}
ul.menu li:hover li ul, ul.menu li li:hover li ul{display:none}
ul.menu li li:hover ul, ul.menu li li li:hover ul{display:block}
ul.menu li li:hover, ul.menu li li.active{background-color:#fff}
ul.menu li li:hover li a, ul.menu li li.active li a{color:#404040!important}
ul.menu li li.parent a{background:url(../images/menu_arrow/arrow1.html) no-repeat scroll right center transparent}
ul.menu li li.parent li a, ul.menu li li.parent:hover li a, ul.menu li li.parent.active li a{background:0}
#mj-left ul.menu, #mj-right ul.menu{border:1px solid #bfbfbf}
#mj-left ul.menu li, #mj-right ul.menu li{border-bottom:1px solid #bfbfbf;padding:0!important}
#mj-left ul.menu li a, #mj-right ul.menu li a{color:#404040;display:block;padding:10px}
#mj-left ul.menu li ul, #mj-left ul.menu li li ul, #mj-left ul.menu li li li ul, #mj-right ul.menu li ul, #mj-right ul.menu li li ul, #mj-right ul.menu li li li ul{width:100%;position:absolute;top:0;background-color:transparent;border:1px solid #bfbfbf}
#mj-left ul.menu li ul, #mj-left ul.menu li li ul, #mj-left ul.menu li li li ul{left:100%}
#mj-right ul.menu li ul, #mj-right ul.menu li li ul, #mj-right ul.menu li li li ul{left:-100%}
#mj-left ul.menu li li, #mj-right ul.menu li li{font-size:12px;background:url(../images/menu_shadow.html) repeat-x scroll 0 0 transparent}
#mj-left ul.menu li li a, #mj-right ul.menu li li a{font-size:12px;padding:5px 5px 5px 15px}
#mj-left ul.menu li li:first-child, #mj-right ul.menu li li:first-child{border-top:1px solid #848689}
#mj-left ul.menu li li li a, #mj-right ul.menu li li li a{padding-left:25px!important}
#mj-left ul.menu li.parent a, #mj-left ul.menu li.parent li.parent a, #mj-left ul.menu li.parent:hover li.parent a, #mj-left ul.menu li.parent.active li.parent:hover li.parent a, #mj-left ul.menu li.parent.active:hover li.parent a, #mj-right ul.menu li.parent a, #mj-right ul.menu li.parent li.parent a, #mj-right ul.menu li.parent:hover li.parent a, #mj-right ul.menu li.parent.active li.parent:hover li.parent a, #mj-right ul.menu li.parent.active:hover li.parent a{background:url(../images/menu_arrow.html) no-repeat scroll right center transparent;margin-right:10px}
#mj-left ul.menu li.parent:hover a, #mj-left ul.menu li.parent li.parent:hover a, #mj-right ul.menu li.parent:hover a, #mj-right ul.menu li.parent li.parent:hover a{background:url(../images/menu_arrow.html) no-repeat scroll right center transparent}
#mj-left ul.menu li.parent li a, #mj-left ul.menu li.parent li.parent li a, #mj-left ul.menu li.parent li.parent:hover li a, #mj-left ul.menu li.parent:hover li a, #mj-left ul.menu li.parent.active li a, #mj-left ul.menu li.parent.active li.parent li a, #mj-left ul.menu li.parent.active li.parent:hover li a, #mj-left ul.menu li.parent.active:hover li a, #mj-left ul.menu li.parent.active li.parent:hover li.parent li a, #mj-left ul.menu li.parent.active:hover li.parent li a #mj-right ul.menu li.parent li a, #mj-right ul.menu li.parent li.parent li a, #mj-right ul.menu li.parent li.parent:hover li a, #mj-right ul.menu li.parent:hover li a, #mj-right ul.menu li.parent.active li a, #mj-right ul.menu li.parent.active li.parent li a, #mj-right ul.menu li.parent.active li.parent:hover li a, #mj-right ul.menu li.parent.active:hover li a, #mj-right ul.menu li.parent.active li.parent:hover li.parent li a, #mj-right ul.menu li.parent.active:hover li.parent li a{background:0}
#mj-left .mj-simplemenu ul.menu li li a, #mj-right .mj-simplemenu ul.menu li li a{margin-right:10px!important}
#mj-left ul.menu li li:first-child, #mj-right ul.menu li li:first-child{border-top:0}
#mj-left .mj-simplemenu ul.menu li li:last-child, #mj-right .mj-simplemenu ul.menu li li:last-child{background:none #f9f9f9!important}
.mj-simplemenu ul.menu{border:medium none!important}
.mj-simplemenu ul.menu li{background:url(../images/border.html) repeat-x scroll left bottom transparent;border:medium none!important}
.mj-simplemenu ul.menu li a{padding-left:0!important;text-shadow:0 1px 0 #fff}
.mj-simplemenu ul.menu li li{background:url(../images/border.html) repeat-x scroll left bottom transparent!important}
.mj-simplemenu ul.menu li li a{margin-right:0!important;padding-left:10px!important}
.blog h2{margin-top:10px}
.blog img{background:none repeat scroll 0 0 #fff;border:1px solid #ccc;margin-bottom:10px;max-width:98%;padding:5px}
.cols-2 .column-1, .cols-2 .column-2, .cols-3 .column-1, .cols-3 .column-2, .cols-3 .column-3, .cols-4 .column-1, .cols-4 .column-2, .cols-4 .column-3, .cols-4 .column-4{float:left;margin-left:1%;margin-right:1%}
.cols-2 .column-1, .cols-2 .column-2{width:48%}
.cols-3 .column-1, .blog .cols-3 .column-2, .cols-3 .column-3{width:30%}
.cols-4 .column-1, .cols-4 .column-2, .cols-4 .column-3, .cols-4 .column-4{width:23%}
.breadcrumbs .pathway, .breadcrumbs span{padding:10px 20px 10px 5px;display:inline-block}
.breadcrumbs .pathway{background:url(../images/breadcrumb_sep.html) no-repeat scroll center right transparent}
.breadcrumbs img{display:none}
.pagination{float:left;width:100%}
.pagination p{text-align:center}
.pagination ul{float:right;padding-top:10px;width:65%}
.pagination li{background:none repeat scroll 0 0 #fff;margin:0 2px;padding:3px 9px;float:left}
.readmore a{color:#fff}
.categories-list li{background:url(../images/bullets.html) no-repeat scroll 0 -67px transparent;float:left;line-height:16px;padding-left:15px;width:100%}
.categories-list dt{display:none}
.categories-list dd{float:left}
.categories-list .item-title a{float:left;padding-right:5px;text-shadow:0 1px 0 #fff}
.hidelabeltxt{display:none}
.weblink-category .title img{float:left;margin-right:5px}
.contact input[type="text"], .contact input[type="email"]{width:250px;color:#666;height:20px;margin:5px 0}
.contact textarea{color:#666;margin:5px 0}
.contact label{float:left;margin:1px 0;width:150px;text-shadow:0 1px 0 #fff;padding-top:10px}
.contact span.jicons-text{font-weight:bold}
.contact h3{margin-bottom:0!important;margin-top:5px}
.login{margin-bottom:5px}
.login .login-fields{margin:7px 0}
.login label{display:inline-block;width:130px}
.registration label, .remind label, .reset label{float:left;width:180px;padding-top:7px}
.registration dt, .registration dd{margin:12px 0}
.remind label, .reset label{margin:5px 0}
.remind dl, .reset dl{margin:20px 0}
.moduletable{margin-bottom:10px}
.moduletable h3{font-size:18px;font-family:Oswald, sans-serif;text-transform:uppercase}
.tabber_container div.tabber_nav li.tabber_tab a, .tabber_container div.tabber_nav li.tabber_tab a:hover{padding:10px;line-height:1.5em!important;font-weight:normal;border:1px solid #b4b4b4;border-bottom:0}
.tabber_container div.tabber_nav li.tabber_tab.active{margin-top:5px!important}
.tabber_container div.tabber_nav li.tabber_tab.active a{padding-bottom:10px}
.tabber_container div.tabber_content{background-color:#fff;border-top:5px solid;border-bottom:0;border-left:none;border-right:0;box-shadow:-2px -2px 5px rgba(0,0,0,0.1) inset}
p{margin-bottom:10px}
.wk-accordion .toggler{background:url(../images/plus-minus.html) no-repeat scroll 10px 7px transparent!important;padding-left:50px!important}
.wk-accordion .toggler.active{background-position:10px -87px!important}
.mj-event-time, .mj-block-number{background-color:#fff;-moz-border-bottom-colors:none;-moz-border-left-colors:none;-moz-border-right-colors:none;-moz-border-top-colors:none;border-color:#c0c0c0 #888 #888 #c0c0c0;border-image:none;border-radius:4px 4px 4px 4px;border-style:solid;border-width:1px;box-shadow:0 -1px 1px #fff inset;display:block;float:left;height:auto;margin:0 15px 0 0;padding-top:7px;text-shadow:0 1px #fff}
.mj-event-time .mj-date, .mj-block-number .mj-digit{font-size:18px;line-height:1;padding:9px 10px 25px}
.mj-event-time .mj-month, .mj-block-number .mj-bottom{border-radius:0 0 3px 3px;border-style:solid;border-width:1px 0 0;color:#fff;display:block;font-size:11px;text-align:center;text-shadow:none;text-transform:uppercase}
.mj-event-time, .mj-block-number{border-style:solid;color:#444!important;text-shadow:0 1px #fff}
.mj-block-number .mj-bottom{height:6px}
.mj-event, .mj-Block{display:block;margin:5px 0 20px}
p.mj-dropcap:first-letter{display:block;float:left;font-size:280%;margin:7px 4px 0 0}
legend{padding:0}
thead tr a{color:#fff}
.mj-headcolor h1, .mj-headcolor h2, .mj-headcolor h3, .mj-headcolor h4, .mj-headcolor h5, .mj-headcolor h6{color:#00a2d3}
.mj-table tfoot tr{opacity:.6}
#mj-left .mj-simplemenu ul.menu li li, #mj-right .mj-simplemenu ul.menu li li{background-color:#f9f9f9!important}
#mj-contentarea, #mj-right{float:right}
.mj-pagination a{background-color:#f3f3f3;color:#000!important;text-shadow:none!important;padding:5px 10px;text-decoration:none}